.navbar {
    background-color: $white;
    height: 75px;
    display: flex;
    flex-wrap: row nowrap;
    justify-content: space-between;
    .btn-toogle {
        background-color: $white;
        border: none;
    }
    .navbar-nav {
        display: flex;
        flex-wrap: row nowrap;
        justify-content: space-around;
        .topbar-divider {
            border-left: 2px solid $bg-primary;
            height: 74px;
            margin: 10px;
        }
        .nav-item {
            width: auto;
            align-self: center;
            justify-self: center;
            .nav-item__btn-language {
                margin: 15px;
            }
        }
        .dropdown {
            .image-rounded {
                border-radius: 50%;
            }
        }
    }
}